/*
    Seeing that Nest's official Akkurat font isn't open-sourced, I can't include it with this module.
    If you don't possess a copy of this font, delete everything within the DELETE ME
    wrapper below and the module will fall back to using the standard Roboto font instead.

    The module has been tested with both fonts, so nothing will break if you do this.

    If you own a license for this font, include the font files in a `fonts/akkurat` folder inside this module
    and update the import paths below to point to your font files.

*/

/* DELETE ME START */

@font-face {
    font-family: Akkurat;
    font-style: normal;
    font-weight: 400;
    src:
        local('Akkurat'),
        local('Akkurat-Regular'),
        url('fonts/akkurat/akkurat_regular.woff2') format('woff2'),
        url('fonts/akkurat/akkurat_regular.woff') format('woff');
}

@font-face {
    font-family: Akkurat;
    font-style: normal;
    font-weight: 700;
    src:
        local('Akkurat Bold'),
        local('Akkurat-Bold'),
        url('fonts/akkurat/akkurat_bold.woff2') format('woff2'),
        url('fonts/akkurat/akkurat_bold.woff') format('woff');
}

@font-face {
    font-family: Akkurat;
    font-style: normal;
    font-weight: 300;
    src:
        local('Akkurat Light'),
        local('Akkurat-Light'),
        url('fonts/akkurat/akkurat_light.woff2') format('woff2'),
        url('fonts/akkurat/akkurat_light.woff') format('woff');
}

.mmm-nest-status .module-content {
    font-family: 'Akkurat', 'Roboto';
}

/* DELETE ME END */


.mmm-nest-status .nest-wrapper {
    display: flex;
    flex-flow: row wrap;
    margin: -10px;
}

.mmm-nest-status .nest-wrapper.left {
    justify-content: flex-start;
}

.mmm-nest-status .nest-wrapper.center {
    justify-content: center;
}

.mmm-nest-status .nest-wrapper.right {
    justify-content: flex-end;
}

/* when the items aren't grouped */
.mmm-nest-status .nest-wrapper + .nest-wrapper {
    margin-top: 10px;
}

/*
    LIST VIEW
*/

.mmm-nest-status .nest-wrapper.list {
    display: block; /* no flex */
    margin: 0;
}

.mmm-nest-status .nest-wrapper .hidden {
    display: none;
}

.mmm-nest-status .nest-list {
    text-align: left;
}

.mmm-nest-status .nest-list.with-protects {
    border-bottom: 1px #666 solid;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.mmm-nest-status .nest-list th {
    color: #fff;
}

.mmm-nest-status .nest-list th,
.mmm-nest-status .nest-list td {
    width: 20%;
    text-align: center;
}

.mmm-nest-status .nest-list th.nest-id,
.mmm-nest-status .nest-list td.nest-id {
    width: 25px;
    text-align: left;
}

.mmm-nest-status .nest-list th.name,
.mmm-nest-status .nest-list td.name {
    width: auto;
    text-align: left;
}

.mmm-nest-status .nest-list th.name {
    text-transform: capitalize;
}

.mmm-nest-status .nest-list td.heating,
.mmm-nest-status .nest-list td.cooling {
    color: #fff;
}

.mmm-nest-status .nest-list td.heating {
    background: rgb(238, 127, 0);
    background: -moz-linear-gradient(to right, rgb(238, 127, 0) 0%, rgb(229, 89, 40) 100%);
    background: -webkit-linear-gradient(to right, rgb(238, 127, 0) 0%, rgb(229, 89, 40) 100%);
    background: -o-linear-gradient(to right, rgb(238, 127, 0) 0%, rgb(229, 89, 40) 100%);
    background: -ms-linear-gradient(to right, rgb(238, 127, 0) 0%, rgb(229, 89, 40) 100%);
    background: linear-gradient(to right, rgb(238, 127, 0) 0%, rgb(229, 89, 40) 100%);
}

.mmm-nest-status .nest-list td.cooling {
    background: rgb(5, 95, 255);
    background: -moz-linear-gradient(to right, rgb(5, 95, 255) 0%, rgb(1, 57, 255) 100%);
    background: -webkit-linear-gradient(to right, rgb(5, 95, 255) 0%, rgb(1, 57, 255) 100%);
    background: -o-linear-gradient(to right, rgb(5, 95, 255) 0%, rgb(1, 57, 255) 100%);
    background: -ms-linear-gradient(to right, rgb(5, 95, 255) 0%, rgb(1, 57, 255) 100%);
    background: linear-gradient(to right, rgb(5, 95, 255) 0%, rgb(1, 57, 255) 100%);
}

.mmm-nest-status .nest-list td.warning {
    color: #ffde00;
}

.mmm-nest-status .nest-list td.emergency {
    color: #ef4730;
}

/*
    GRID VIEW: SHARED
*/

.mmm-nest-status .nest-wrapper .title {
    margin-bottom: 15px;
    border-bottom: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mmm-nest-status .nest-wrapper .title-bot .title {
    margin-top: 15px;
    margin-bottom: 0;
    white-space: normal;
    overflow: visible;
}

.mmm-nest-status .nest-wrapper .circle {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    position: relative;
    margin: 0 10px;
}

.mmm-nest-status .nest-wrapper .thermostat,
.mmm-nest-status .nest-wrapper .protect {
    width: 160px;
    margin: 10px;
    position: relative;
}

/*
    GRID VIEW: PROTECT
*/

.mmm-nest-status .nest-wrapper .protect .circle {
    background-color: #fff;
    height: 138px;
    width: 138px;
    border: 1px solid rgba(0,0,0,0.9);
    box-shadow: 0 0 8px 2px #4a535b;
}

.mmm-nest-status .nest-wrapper .protect.dark .circle {
    background-color: transparent;
    height: 140px;
    width: 140px;
    border: 0;
    box-shadow: none;
}

.mmm-nest-status .nest-wrapper .protect .ring {
    height: 118px;
    width: 118px;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    left: 10px;
    top: 10px;
    border: 8px solid #4a535b;
    box-sizing: border-box;
}

.mmm-nest-status .nest-wrapper .protect.dark .ring {
    height: 140px;
    width: 140px;
    left: 0;
    top: 0;
    box-shadow: 0 0 8px 2px #6b7883;
    -webkit-animation: pulseGray 3s ease-in-out 1s infinite;
    -moz-animation: pulseGray 3s ease-in-out 1s infinite;
    animation: pulseGray 3s ease-in-out 1s infinite;
}

.mmm-nest-status .nest-wrapper .protect.green .ring {
    border: 8px solid #11d611;
}

.mmm-nest-status .nest-wrapper .protect.dark.green .ring {
    box-shadow: 0 0 8px 0px #76e53e;
    -webkit-animation-name: pulseGreen;
    -moz-animation-name: pulseGreen;
    animation-name: pulseGreen;
}

.mmm-nest-status .nest-wrapper .protect.yellow .ring {
    border: 8px solid #ffbe00;
}

.mmm-nest-status .nest-wrapper .protect.dark.yellow .ring {
    box-shadow: 0 0 8px 0px #ffd400;
    -webkit-animation-name: pulseYellow;
    -moz-animation-name: pulseYellow;
    animation-name: pulseYellow;
}

.mmm-nest-status .nest-wrapper .protect.red .ring {
    border: 8px solid #ea3003;
}

.mmm-nest-status .nest-wrapper .protect.dark.red .ring {
    box-shadow: 0 0 8px 2px #f4471e;
    -webkit-animation-name: pulseRed;
    -moz-animation-name: pulseRed;
    animation-name: pulseRed;
}

.mmm-nest-status .nest-wrapper .protect .status {
    width: 140px;
    height: 140px;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    color: #666;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mmm-nest-status .nest-wrapper .protect.yellow .status {
    color: #d48200;
}

.mmm-nest-status .nest-wrapper .protect.dark.yellow .status {
    color: #ffde00;
}

.mmm-nest-status .nest-wrapper .protect.red .status {
    color: #d4250d;
}

.mmm-nest-status .nest-wrapper .protect.dark.red .status {
    color: #ef4730;
}

.mmm-nest-status .nest-wrapper .protect .status .icon-battery {
    background: url('icons/icon-battery.svg');
    background-size: 30px 25px;
    width: 30px;
    height: 25px;
    margin-top: -5px;
    margin-bottom: 5px;
    animation: fadeInOut 3s ease-in-out 1s infinite;
}

.mmm-nest-status .nest-wrapper .protect.dark .status .icon-battery {
    margin-top: 0;
}


/*
    GRID VIEW: PROTECT (SMALL VERSION)
*/

.mmm-nest-status .nest-wrapper .protect.sml {
    width: 80px;
}

.mmm-nest-status .nest-wrapper .protect.sml .circle {
    height: 78px;
    width: 78px;
    margin: 0;
}

.mmm-nest-status .nest-wrapper .protect.sml.dark .circle {
    background-color: transparent;
    height: 80px;
    width: 80px;
    border: 0;
    box-shadow: none;
}

.mmm-nest-status .nest-wrapper .protect.sml .ring {
    height: 66px;
    width: 66px;
    left: 6px;
    top: 6px;
    border-width: 5px !important;
}

.mmm-nest-status .nest-wrapper .protect.sml.dark .ring {
    height: 80px;
    width: 80px;
    left: 0;
    top: 0;
}

.mmm-nest-status .nest-wrapper .protect.sml .status {
    height: 56px;
    width: 48px;
    top: 12px;
    left: 16px;
    font-size: 12px;
    line-height: 16px;
}

.mmm-nest-status .nest-wrapper .protect.sml.dark .status {
    width: 60px;
    left: 10px;
}

.mmm-nest-status .nest-wrapper .protect.sml .title {
    font-size: 12px;
    margin-top: 10px;
}

.mmm-nest-status .nest-wrapper .protect.sml .status .icon-battery {
    margin-bottom: 0;
}


/*
    GRID VIEW: THERMOSTAT
    Thermostat gets one class from each of the following groups:
    - heating, cooling, off (from hvacState)
    - heat, cool, heat-cool, eco (from hvacMode)
*/

.mmm-nest-status .nest-wrapper .thermostat.off .circle {
    background: rgb(74, 83, 91);
    background: -moz-linear-gradient(90deg, rgb(74, 83, 91) 0%, rgb(40, 48, 55) 100%);
    background: -webkit-linear-gradient(90deg, rgb(74, 83, 91) 0%, rgb(40, 48, 55) 100%);
    background: -o-linear-gradient(90deg, rgb(74, 83, 91) 0%, rgb(40, 48, 55) 100%);
    background: -ms-linear-gradient(90deg, rgb(74, 83, 91) 0%, rgb(40, 48, 55) 100%);
    background: linear-gradient(180deg, rgb(74, 83, 91) 0%, rgb(40, 48, 55) 100%);
}

.mmm-nest-status .nest-wrapper .thermostat.heating .circle {
    background: rgb(238, 127, 0);
    background: -moz-linear-gradient(90deg, rgb(238, 127, 0) 0%, rgb(229, 89, 40) 100%);
    background: -webkit-linear-gradient(90deg, rgb(238, 127, 0) 0%, rgb(229, 89, 40) 100%);
    background: -o-linear-gradient(90deg, rgb(238, 127, 0) 0%, rgb(229, 89, 40) 100%);
    background: -ms-linear-gradient(90deg, rgb(238, 127, 0) 0%, rgb(229, 89, 40) 100%);
    background: linear-gradient(180deg, rgb(238, 127, 0) 0%, rgb(229, 89, 40) 100%);
    color: #FFF;
}

.mmm-nest-status .nest-wrapper .thermostat.cooling .circle {
    background: rgb(5, 95, 255);
    background: -moz-linear-gradient(90deg, rgb(5, 95, 255) 0%, rgb(1, 57, 255) 100%);
    background: -webkit-linear-gradient(90deg, rgb(5, 95, 255) 0%, rgb(1, 57, 255) 100%);
    background: -o-linear-gradient(90deg, rgb(5, 95, 255) 0%, rgb(1, 57, 255) 100%);
    background: -ms-linear-gradient(90deg, rgb(5, 95, 255) 0%, rgb(1, 57, 255) 100%);
    background: linear-gradient(180deg, rgb(5, 95, 255) 0%, rgb(1, 57, 255) 100%);
    color: #FFF;
}

.mmm-nest-status .nest-wrapper .thermostat .dial {
    background: url('images/dial-ticks.svg');
    background-size: 160px 160px;
    height: 160px;
    width: 160px;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    opacity: 0.2;
    left: -10px;
    top: -10px;
}

.mmm-nest-status .nest-wrapper .thermostat.heating .dial,
.mmm-nest-status .nest-wrapper .thermostat.cooling .dial {
    opacity: 0.3;
}

.mmm-nest-status .nest-wrapper .thermostat .status {
    font-size: 16px;
    position: absolute;
    z-index: 3;
    top: 15px;
    left: 0;
    right: 0;
}

.mmm-nest-status .nest-wrapper .thermostat.heating .status,
.mmm-nest-status .nest-wrapper .thermostat .status.heat {
    left: 30px;
    right: auto;
}

.mmm-nest-status .nest-wrapper .thermostat.cooling .status,
.mmm-nest-status .nest-wrapper .thermostat .status.cool {
    left: auto;
    right: 30px;
}

.mmm-nest-status .nest-wrapper .thermostat .temp {
    height: 140px;
    width: 140px;
    font-size: 45px;
    font-weight: 700;
    line-height: 140px;
    text-align: center;
    position: absolute;
    z-index: 2;
}

.mmm-nest-status .nest-wrapper .thermostat .temp small {
    font-size: 18px;
    vertical-align: middle;
    color: #fff;
    display: inline-block;
    line-height: 1;
    padding: 0 3px 8px 5px;
}

.mmm-nest-status .nest-wrapper .thermostat.heat-cool .temp,
.mmm-nest-status .nest-wrapper .thermostat.eco .temp {
    font-size: 35px;
}

.mmm-nest-status .nest-wrapper .thermostat.eco .temp {
    font-weight: 400;
}

.mmm-nest-status .nest-wrapper .thermostat.heating .temp,
.mmm-nest-status .nest-wrapper .thermostat.cooling .temp {
    color: #fff;
}

.mmm-nest-status .nest-wrapper .thermostat .humidity {
    font-size: large;
    line-height: 1;
    font-weight: 700;
    text-align: center;
    padding-top: 10px;
    margin: 0 10px;
}

.mmm-nest-status .nest-wrapper .thermostat .humidity:after {
    content: 'Inside Humidity';
    text-transform: uppercase;
    color: #999;
    font-size: 70%;
    font-weight: 400;
    display: block;
    line-height: 1.5;
}

.mmm-nest-status .nest-wrapper .thermostat.heating .humidity,
.mmm-nest-status .nest-wrapper .thermostat.cooling .humidity {
    color: #fff;
}

.mmm-nest-status .nest-wrapper .thermostat .icn {
    background-size: 15px 15px;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 70px;
    left: 72px;
    z-index: 4;
    width: 15px;
    height: 15px;
}

.mmm-nest-status .nest-wrapper .thermostat .icn.fan {
    background-image: url('icons/icon-fan.png');
    -webkit-animation: fanSpin 4s linear infinite;
    -moz-animation: fanSpin 4s linear infinite;
    animation: fanSpin 4s linear infinite;
}

.mmm-nest-status .nest-wrapper .thermostat.heating .icn.fan,
.mmm-nest-status .nest-wrapper .thermostat.cooling .icn.fan {
    background-image: url('icons/icon-fan-white.png');
}

.mmm-nest-status .nest-wrapper .thermostat .icn.leaf {
    background-image: url('icons/icon-leaf.png');
}

/*
    ANIMATIONS
*/

@-webkit-keyframes pulseGray {
    0% { box-shadow: 0 0 8px 0px #6b7883; }
    50% { box-shadow: 0 0 16px 0px #6b7883; }
    100% { box-shadow: 0 0 8px 0px #6b7883; }
}

@-moz-keyframes pulseGray {
    0% { box-shadow: 0 0 8px 0px #6b7883; }
    50% { box-shadow: 0 0 16px 0px #6b7883; }
    100% { box-shadow: 0 0 8px 0px #6b7883; }
}

@keyframes pulseGray {
    0% { box-shadow: 0 0 8px 0px #6b7883; }
    50% { box-shadow: 0 0 16px 0px #6b7883; }
    100% { box-shadow: 0 0 8px 0px #6b7883; }
}

@-webkit-keyframes pulseGreen {
    0% { box-shadow: 0 0 8px 0px #76e53e; }
    50% { box-shadow: 0 0 16px 0px #76e53e; }
    100% { box-shadow: 0 0 8px 0px #76e53e; }
}

@-moz-keyframes pulseGreen {
    0% { box-shadow: 0 0 8px 0px #76e53e; }
    50% { box-shadow: 0 0 16px 0px #76e53e; }
    100% { box-shadow: 0 0 8px 0px #76e53e; }
}

@keyframes pulseGreen {
    0% { box-shadow: 0 0 8px 0px #76e53e; }
    50% { box-shadow: 0 0 16px 0px #76e53e; }
    100% { box-shadow: 0 0 8px 0px #76e53e; }
}

@-webkit-keyframes pulseYellow {
    0% { box-shadow: 0 0 8px 0px #ffd400; }
    50% { box-shadow: 0 0 16px 0px #ffd400; }
    100% { box-shadow: 0 0 8px 0px #ffd400; }
}

@-moz-keyframes pulseYellow {
    0% { box-shadow: 0 0 8px 0px #ffd400; }
    50% { box-shadow: 0 0 16px 0px #ffd400; }
    100% { box-shadow: 0 0 8px 0px #ffd400; }
}

@keyframes pulseYellow {
    0% { box-shadow: 0 0 8px 0px #ffd400; }
    50% { box-shadow: 0 0 16px 0px #ffd400; }
    100% { box-shadow: 0 0 8px 0px #ffd400; }
}

@-webkit-keyframes pulseRed {
    0% { opacity: 1; box-shadow: 0 0 8px 0px #f4471e; }
    50% { opacity: 0; box-shadow: 0 0 16px 0px #f4471e; }
    100% { opacity: 1; box-shadow: 0 0 8px 0px #f4471e; }
}

@-moz-keyframes pulseRed {
    0% { opacity: 1; box-shadow: 0 0 8px 0px #f4471e; }
    50% { opacity: 0; box-shadow: 0 0 16px 0px #f4471e; }
    100% { opacity: 1; box-shadow: 0 0 8px 0px #f4471e; }
}

@keyframes pulseRed {
    0% { opacity: 1; box-shadow: 0 0 8px 0px #f4471e; }
    50% { opacity: 0; box-shadow: 0 0 16px 0px #f4471e; }
    100% { opacity: 1; box-shadow: 0 0 8px 0px #f4471e; }
}

@-webkit-keyframes fadeInOut {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

@-moz-keyframes fadeInOut {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeInOut {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes fanSpin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes fanSpin {
    0% { -moz-transform: rotate(0deg); }
    100% { -moz-transform: rotate(360deg); }
}

@keyframes fanSpin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
